#background {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  margin-bottom: 0rem;
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  font-family: monospace;
}

#inner-box {
	padding: 2em 0em;
}

#name {
	font-size: 2.5rem;
}

#left {
	text-align: right;
}

.link {
	color: #CCC;
}

.link > a {
	text-decoration: underline;
	color: #EEE;
}

.link > a:hover {
	color: #EEE;
}

.link > .text {
	color: #EEE;
}

#main-box {
	background-color: #666;
	width: 95%;
	max-width: 100%;
	color: #EEE;
}

@media (min-width: 820px) { 
			
}

@media (min-width: 576px) { 
	#main-box {
		width: 90%;	
		max-width: 100%;
	}
}

@media (min-width: 786px) { 
	#main-box {
		width: 80%;	
		max-width: 100%;
	}
}