@charset "UTF-8";

a { 
	color: #eee;
}

a .username {
	position: relative; 
    top: 2px; 
    left: 3px;
    color: #eee;
}

a:link, a:visited {
    opacity: 0.75;
}

a:hover, a:active {
	opacity: 0.5;	
}
