@charset "UTF-8"

.dark-primary-color    { background: #0288D1; } 
.default-primary-color { background: #03A9F4; } 
.light-primary-color   { background: #B3E5FC; } 
.accent-color          { background: #00E676; } 
.accent-light          { background: #69F0AE; } 
.accent-tint           { background: #33EB91; } 
.accent-shade          { background: #05CB65; } 
.accent-button       { background: #00E676; box-shadow: 0px 1px 0px #33EB91 inset, 0px -1px 0px #05CB65 inset, 0px 0px 5px rgba(0, 0, 0, 0.5); }